<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="book" class="org.example.matrixspring.service.Book">
        <property name="title" value="Spring in Action"/>
    </bean>

    <bean id="member" class="org.example.matrixspring.service.Member">
        <property name="name" value="Calil Ahmadov"/>
    </bean>

    <bean id="libraryService" class="org.example.matrixspring.service.LibraryService">
        <property name="book" ref="book"/>
        <property name="member" ref="member"/>
    </bean>
</beans>
